@import url('https://fonts.googleapis.com/css?family=Permanent Marker:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/* Nav Bar Styling */
.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo{
    font-family: "Permanent Marker", sans-serif;
    margin-left: 10px; 
}

nav .brand-logo {
    color: black;
}

.main-nav{
    font-family: "Permanent Marker", sans-serif;
    
}
.text-color-nav{
    color: black;
}
/* Fonts */
.header-font{
    font-family: "Permanent Marker", sans-serif;
    margin-top: 1em;    
}

.form-font{
     font-family: "Roboto", sans-serif;
     font-weight: 500;  
}

/* Footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  z-index: +1;
}

.foot-p{
    font-family: "Roboto", sans-serif;
     font-weight: 500; 
    font-size: 12px;
    padding-left: 2em;
    
}
/* buttons */
.btn-large{
    color: black;
    background: white;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
}

.modal-btn{
    color: black;
    background: white;
    font-family: "Roboto", sans-serif;
}

.modal-btn:hover{
    background: #81c784;
}

.btn-large:hover{
    background: #81c784;
}

.btn-large:focus{
    background: #bdbdbd ;
}

/* Registration Form */

.form-register{
    margin-top: 5em;
}


/* Landing Page */

.landing-card{
    border-radius: 12px;
    padding: 15px;
}

/* Review Page */
.review-card{
    border-radius: 12px;
    
}

.review{
    margin: 2em;
    

}

/* Review and profile cards */
.card.large {
    height: 750px;
    }

/* Media Query */

/* Review and profile cards 
@media only screen and (min-width: 768px){
.row .col.m3{
    width: 30%;
    margin-left: 1em;
}

.edit-btn{
    margin-top: 1em;
}}

@media only screen 
and (min-width : 320px) 
and (max-width : 736px){
    .row .col.m3{
        width: 90%;
    }
}*/