@import url('https://fonts.googleapis.com/css?family=Permanent Marker:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/* Nav Bar Styling */
.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo{
    font-family: "Permanent Marker", sans-serif;
    margin-left: 10px; 
}

nav .brand-logo {
    color: black;
}

.main-nav{
    font-family: "Permanent Marker", sans-serif;
    
}
.text-color-nav{
    color: black;
}
/* Fonts */
.header-font{
    font-family: "Permanent Marker", sans-serif;
    margin-top: 2em;    
}

.form-font{
     font-family: "Roboto", sans-serif;
     font-weight: 500;  
}

/* buttons */
.btn-large{
    color: black;
    background: white;
}

.btn-large:hover{
    background: #81c784;
}

.btn-large:focus{
    background: #bdbdbd ;
}

/* Registration Form */

.form-register{
    margin-top: 5em;
}
