{% extends "base.html" %} {% block content %}

<h3 class="center-align uppercase header-font">Edit Review</h3>
<div class="container grey lighten-2">
<div class="row">
	<form class="col s12 m8 offset-m2 form-font" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">

		<!--Catergory Select-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-bars small prefix"></i>
				<select id="category_name" name="category_name" class="validate text-font" required>
                    <option value="" disabled>Choose your category</option>
                    {% for category in categories %}
                        {% if category.category_name == review.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

			</div>
		</div>

		<!--Artist Name-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-microphone-alt small prefix"></i>
				<input id="artist_name" name="artist_name" minlength="1" maxlength="50"
                    value="{{ review.artist_name }}" type="text" class="validate text-font" required>
				<label for="artist_name">Artist Name</label>
			</div>
		</div>
		<!--Record/Venue Name-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-record-vinyl small prefix"></i>
				<input id="record_name" name="record_name" type="text" 
                value="{{ review.record_name }}" class="validate text-font" required>
				<label for="record_name">Record/Venue Name</label>
			</div>
		</div>
		<!--Release Date-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-calendar-alt prefix"></i>
				<input id="rel_date" name="rel_date" type="text" value="{{ review.rel_date }}" 
                class="datepicker validate text-font" required>
				<label for="rel_date">Release/Show Date</label>
			</div>
		</div>
        <!--Image-->
        <div class="row">
			<div class="input-field col s12">
				<i class="far fa-image prefix small"></i>
				<input id="image" name="image" type="text" value="{{ review.image }}"
                class="validate text-font" required>
				<label for="image">Image Upload (URL)</label>
			</div>
		</div>

		<!--Reveiw Area-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-pen-square small prefix"></i>
				<textarea id="review_text" name="review_text" class="materialize-textarea validate text-font"
            minlength="100" maxlength="5000" required>{{ review.review_text }}</textarea>
				<label for="review_text">Write In Me</label>
			</div>

            <!-- Upload Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large form-font">
                        Edit Review <i class="fas fa-user-edit right"></i>
                    </button>
                        <a href="{{ url_for('profile', username=session['user'])}}" 
                        class="waves-effect waves-light btn-large red darken-3 form-font">Cancel
                        <i class="fas fa-window-close right"></i>
                        </a>
                        
                    
                </div>
            </div>
		</div>
	</form>
</div>
</div>


{% endblock %}