{% extends "base.html" %} {% block content %}


<div class="container grey lighten-2 landing-cont">
    <h3 class="center-align uppercase header-font callout">Join Now And Have Your Say!</h3>
    <p class="block-divider"></p>
    <h4 class="center-align uppercase header-font">READ, REVIEW, WRITE </h4>
    <h6 class="center-align header-font slogan">Have your say and join the conversation!<br>
Share your thoughts on new or past releases!<br>
favourite tracks, albums, eps and gigs. <br>
Dive into a world of music reviews written by the listeners and gig goers!!</h6>
<div class="row">
  <form class="col s12 m8 offset-m2 form-register" method="POST" action="{{ url_for('login')}}">

    <!--Submit Button-->
        <div class="row">
        <button type="submit" class="col s6  offset-s3 btn btn-large form-font"> Register! </button>
            <a href="{{ url_for('register')}}"></a>  
        </div>
   
  </form>
</div>
</div>

{% endblock %}
