{% extends "base.html" %} {% block content %}

<h3 class="center-align uppercase header-font">Upload Review</h3>

<div class="row">
	<form class="col s6 offset-s3" method="POST" action="{{ url_for('upload_review') }}">

		<!--Catergory Name-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-bars small prefix"></i>
				<select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose your catergory</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
				<label for="category_name">Catergory Selection</label>
			</div>
		</div>

		<!--Artist Name-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-microphone-alt small prefix"></i>
				<input id="artist_name" name="artist_name" minlength="1" maxlength="50"
                    type="text" class="validate" required>
				<label for="artist_name">Artist Name</label>
			</div>
		</div>
		<!--Record/Venue Name-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-record-vinyl small prefix"></i>
				<input id="record_name" name="record_name" type="text" class="validate" required>
				<label for="record_name">Record/Venue Name</label>
			</div>
		</div>
		<!--Release Date-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-calendar-alt prefix"></i>
				<input id="rel_date" name="rel_date" type="text" class="datepicker validate" required>
				<label for="rel_date">Release/Show Date</label>
			</div>
		</div>
        <!--Image-->
        <div class="row">
			<div class="input-field col s12">
				<i class="far fa-image prefix small"></i>
				<input id="image" name="image" type="text" class="validate" required>
				<label for="image">Image Upload (URL)</label>
			</div>
		</div>

		<!--Reveiw Area-->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-pen-square small prefix"></i>
				<textarea id="review_text" name="review_text" class="materialize-textarea validate"
            minlength="100" maxlength="5000" required></textarea>
				<label for="review_text">Write In Me!</label>
			</div>

            <!-- Upload Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large form-font">
                        UPLOAD! <i class="fas fa-upload right"></i>
                    </button>
                </div>
            </div>
		</div>
	</form>
</div>


{% endblock %}